*{
    padding: 0;
    margin: 0;
    color:#fff;
    box-sizing: border-box;
    border: none;
    font-family: 'Roboto Slab', serif;
}

body{
    background-image: url('background9.JPG');
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}






.mn{
    display: flex;    
    justify-content: center;
    align-items: center;  
    min-height: 90vh;
    
    
}

.main{
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.8);
    border-radius: 25px;
    
}

.head{
    padding-top:4vh ;  
}

.media{
    padding-top: 3vh;    
    display: flex;
    justify-content: space-evenly;
}


/* LOGO */

.logon{
    padding: 4px;
    width: 105%;
    background-color: rgba(241, 241, 241, 0.3);
    box-shadow: 0 5px 15px rgba(0,0,0,.8);
    border-radius: 25px;
}

.logo{
    width: 60px;
    height: 60px;
}

/* LOGO FINISHED */




/* SCROLLBAR */


::-webkit-scrollbar{
    background: transparent;
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background: #606060;
    border-radius: 100px;
}


/* SCROLLBAR FINISHED */

/* ICON */
.icon1:hover{
    color: #4267B2;
}
.icon2:hover{
    color:#d92e7f ;
}
.icon3:hover{
    color: #25D366;
}
.icon4:hover{
    color: #00acee;
}
.icon5:hover{
    color: #686868;
}
/* ICON FINISHED */